# =========================
# .NET
# =========================
**/bin/
**/obj/
.vs/

# User-specific files
*.user
*.suo

# Logs
Logs/
*.log

# =========================
# React
# =========================
node_modules/
dist/
coverage/

# Environment files
.env
.env.*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db